{% extends 'base.html.twig' %}

{% block title %}
    Register HorseRider
{% endblock %}

{% block body %}
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Register:
                            <em>HorseRider</em>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <table class="table table-hover text-center">
                    <thead>
                    <th scope="col">Start Number</th>
                    <th scope="col">Event ID</th>
                    <th scope="col">User Info</th>
                    <th scope="col">Horse Info</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Generate</td>
                        <td>Get Event</td>
                        <td>Get User</td>
                        <td>Get Horse</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
