{% extends 'base.html.twig' %}

{% block title %}
	No Event Found
{% endblock %}

{% block body %}
	<section class="section" id="features">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-heading">
						<h2>Trash :
							<em>View</em>
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
			</div>
		</div>
	</section>
{% endblock %}
